@import "./../VariablesAndMixins/variablesAndMixins";

.card {
  @include card;
  width: 250px;
  &--large {
    @include card;
    width: 670px;
  }

  &:hover {
    box-shadow: 0 0 5px 2px grey;
  }

  &__img {
    width: 100%;
    max-height: 375px;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
  }

  &__button {
    @include button;
    min-width: 10rem;
    margin-right: 0;
    &--active {
      @include button--active;
    }
    &:hover {
      border-color: $white;
    }
  }

  &__title,
  &__p {
    text-align: center;
    margin: 0.2rem;
    padding: 0.2rem;
  }

  &__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-5rem, -1.5rem);
    padding: 1rem;
    border-radius: 1.8rem;
    width: 1.6rem;
    height: 1.6rem;
    box-shadow: 0 0 4px $black;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: bold;
    z-index: 0;
    text-shadow: 0 0 1px $black;

    &--good {
      background-color: green;
    }
    &--average {
      background-color: yellow;
      text-shadow: 0 0 1px $white;
      color: black;
    }
    &--bad {
      background-color: $red;
    }
    &--invisible {
      display: none;
    }
  }
}
