@import "./../VariablesAndMixins/variablesAndMixins";

.nav {
  @include nav;

  &__button {
    @include button;

    &:hover {
      border-color: $white;
    }
    &--active {
      @include button--active;
      &:hover {
        border-color: initial;
        cursor: default;
      }
    }
  }
  &__img {
    width: 48px;
    transform: translateX(-37px) translateY(-2px);
  }
}
