@import './../VariablesAndMixins/variablesAndMixins';


.nav {
    @include nav;

    &__button {
        @include button;
    
        &:hover {
            border-color: white;
        }
        &--active {
            border: 2px solid red;
            color: red;
            background-color: black;
        }

    }
    
}