@import "../VariablesAndMixins/variablesAndMixins";

.switch {
  position: absolute;
  width: 60px;
  height: 34px;
  left: 10px;
  top: 14px;

  &__p {
    opacity: 0;
    &--fr {
      position: absolute;
      left: 18px;
      top: 2px;
    }
    &--en {
      position: absolute;
      left: 44px;
      top: 2px;
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 1px solid $red;

    &--round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 3px;
      bottom: 3px;
      background-color: $red;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  & input:focus + .switch__slider {
    box-shadow: 0 0 1px $red;
  }

  & input:checked + .switch__slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}

.visible {
  transition: opacity 0.5s;
  opacity: 1;
}

@media screen and (min-width: 880px) {
  .switch {
    left: 30px;

    &__p--fr {
      left: 38px;
    }
    &__p--en {
      left: 64px;
    }
  }
}
