.footer {
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 1rem;
}

.footer__paragraph {
  margin-right: 1rem;
  font-weight: bold;
}

.footer a {
  display: flex;
  align-items: center;
}
.footer__img {
  width: 400px;
}
