.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.2rem;
  box-shadow: 0 0 5px grey;
  margin: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
  transition: box-shadow 0.2s;
  width: 250px;
}
.card:hover {
  box-shadow: 0 0 5px 2px grey;
}
.card__img {
  width: 100%;
  max-height: 375px;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.card__button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin-bottom: 0.5rem;
  background-color: #e50914;
  color: white;
  border: 2px solid transparent;
  transition: all 0.5s;
  width: 50%;
  text-align: center;
  min-width: 10rem;
  margin-right: 0;
}
.card__button--active {
  border: 2px solid #e50914;
  color: #e50914;
  background-color: black;
}
.card__button:hover {
  border-color: white;
}
.card__title, .card__p {
  text-align: center;
  margin: 0.2rem;
  padding: 0.2rem;
}
.card__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-5rem, -1.5rem);
  padding: 1rem;
  border-radius: 1.8rem;
  width: 1.6rem;
  height: 1.6rem;
  box-shadow: 0 0 4px black;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: bold;
  z-index: 0;
  text-shadow: 0 0 1px black;
  margin: 0;
}
.card__rating--good {
  background-color: green;
}
.card__rating--average {
  background-color: yellow;
  text-shadow: 0 0 1px white;
  color: black;
}
.card__rating--bad {
  background-color: #e50914;
}
.card__rating--invisible {
  display: none;
}

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.nav--rectaction {
  transform: translateX(-100px);
}
.nav__button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin-bottom: 0.5rem;
  background-color: #e50914;
  color: white;
  border: 2px solid transparent;
  transition: all 0.5s;
  width: 50%;
  text-align: center;
}
.nav__button:hover {
  border-color: white;
}
.nav__button--active {
  border: 2px solid #e50914;
  color: #e50914;
  background-color: black;
}
.nav__button--active:hover {
  border-color: initial;
  cursor: default;
}
.nav__img {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__button {
    margin-right: 1rem;
    margin-bottom: 0;
    width: 8rem;
  }
}
@media screen and (min-width: 880px) {
  .nav__img {
    display: initial;
    width: 48px;
    transform: translateX(-37px) translateY(-2px);
  }
}
.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.nav--rectaction {
  transform: translateX(-100px);
}
.nav__button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin-bottom: 0.5rem;
  background-color: #e50914;
  color: white;
  border: 2px solid transparent;
  transition: all 0.5s;
  width: 50%;
  text-align: center;
}
.nav__button:hover {
  border-color: white;
}
.nav__button--active {
  border: 2px solid #e50914;
  color: #e50914;
  background-color: black;
}
.nav__button--active:hover {
  border-color: initial;
  cursor: default;
}
.nav__img {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__button {
    margin-right: 1rem;
    margin-bottom: 0;
    width: 8rem;
  }
}
@media screen and (min-width: 880px) {
  .nav__img {
    display: initial;
    width: 48px;
    transform: translateX(-37px) translateY(-2px);
  }
}
.pages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  position: relative;
  width: auto;
  margin-bottom: 2rem;
}
.pages__button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin-bottom: 0.5rem;
  background-color: #e50914;
  color: white;
  border: 2px solid transparent;
  transition: all 0.5s;
  width: 50%;
  text-align: center;
  margin: 0.5rem 1rem;
  width: 40%;
  max-width: 10rem;
}
.pages__button:hover {
  border-color: white;
}
.pages__button--disabled {
  border: 2px solid #e50914;
  color: #e50914;
  background-color: black;
}
.pages__button--disabled:hover {
  cursor: initial;
  border-color: initial;
}

.footer {
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 1rem;
}

.footer__paragraph {
  margin-right: 1rem;
  font-weight: bold;
}

.footer a {
  display: flex;
  align-items: center;
}

.footer__img {
  width: 400px;
}

.switch {
  position: absolute;
  width: 60px;
  height: 34px;
  left: 10px;
  top: 14px;
}
.switch__p {
  opacity: 0;
  z-index: -1;
}
.switch__p--fr {
  position: absolute;
  left: 8px;
  top: 4px;
  margin: 0;
  cursor: pointer;
}
.switch__p--en {
  position: absolute;
  left: 34px;
  top: 4px;
  margin: 0;
  cursor: pointer;
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.4s;
  border: 1px solid #e50914;
}
.switch__slider--round {
  border-radius: 34px;
}
.switch__slider--round:before {
  border-radius: 50%;
}
.switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 3px;
  background-color: #e50914;
  transition: 0.4s;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:focus + .switch__slider {
  box-shadow: 0 0 1px #e50914;
}
.switch input:checked + .switch__slider:before {
  transform: translateX(26px);
}

.visible {
  transition: opacity 0.5s;
  opacity: 1;
}

@media screen and (min-width: 880px) {
  .switch {
    left: 30px;
  }
  .switch__p--fr {
    left: 9px;
  }
  .switch__p--en {
    left: 34px;
  }
}
.typeSwitch {
  position: absolute;
  width: 60px;
  height: 34px;
  left: 10px;
  top: 70px;
}
.typeSwitch__p {
  opacity: 0;
  z-index: -1;
}
.typeSwitch__p--movies {
  position: absolute;
  left: 6px;
  top: 4px;
  margin: 0;
  cursor: pointer;
}
.typeSwitch__p--series {
  position: absolute;
  left: 8px;
  top: 4px;
  margin: 0;
  cursor: pointer;
}
.typeSwitch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.4s;
  border: 1px solid #e50914;
}
.typeSwitch__slider--round {
  border-radius: 34px;
}
.typeSwitch__slider--round:before {
  border-radius: 50%;
}
.typeSwitch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 3px;
  background-color: #e50914;
  transition: 0.4s;
}
.typeSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.typeSwitch input:focus + .switch__slider {
  box-shadow: 0 0 1px #e50914;
}
.typeSwitch input:checked + .switch__slider:before {
  transform: translateX(26px);
}

.visible {
  transition: opacity 0.5s;
  opacity: 1;
}

@media screen and (min-width: 880px) {
  .switch {
    left: 30px;
  }
  .switch__p--fr {
    left: 9px;
  }
  .switch__p--en {
    left: 34px;
  }
}
body {
  display: flex;
}

.movieSection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 11rem;
}

@media screen and (min-width: 768px) {
  .movieSection {
    margin-top: 5rem;
  }
}/*# sourceMappingURL=App.css.map */