@import './components/MovieCard/movieCard';
@import './components/Header/header';
@import "./components/MovieList/movieList";

body{
    display: flex;
}

.movieSection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5rem;
}

