.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.2rem;
  box-shadow: 0 0 20px -5px #e50914;
  margin: 1rem;
  background-color: black;
  width: 250px;
}
.card--large {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.2rem;
  box-shadow: 0 0 20px -5px #e50914;
  margin: 1rem;
  background-color: black;
  width: 850px;
}
.card__img {
  width: 100%;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.card__button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin-bottom: 0.2rem;
  background-color: #e50914;
  color: white;
  border: 2px solid transparent;
  transition: all 0.5s;
  margin-right: 1rem;
}
.card__button--active {
  border: 2px solid #e50914;
  color: #e50914;
  background-color: black;
}
.card__button:hover {
  border-color: white;
}
.card__title, .card__p {
  text-align: center;
  margin: 0.2rem;
  padding: 0.2rem;
}
.card__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-5rem, -1.5rem);
  padding: 1rem;
  border-radius: 1.8rem;
  width: 1.6rem;
  height: 1.6rem;
  box-shadow: 0 0 4px black;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: bold;
  z-index: 0;
  text-shadow: 0 0 1px black;
}
.card__rating--good {
  background-color: green;
}
.card__rating--average {
  background-color: yellow;
  text-shadow: 0 0 1px white;
  color: black;
}
.card__rating--bad {
  background-color: #e50914;
}
.card__rating--invisible {
  display: none;
}

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.nav__button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin-bottom: 0.2rem;
  background-color: #e50914;
  color: white;
  border: 2px solid transparent;
  transition: all 0.5s;
  margin-right: 1rem;
}
.nav__button:hover {
  border-color: white;
}
.nav__button--active {
  border: 2px solid #e50914;
  color: #e50914;
  background-color: black;
}
.nav__button--active:hover {
  border-color: initial;
  cursor: default;
}
.nav__img {
  width: 48px;
  transform: translateX(-37px) translateY(-2px);
}

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.nav__button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin-bottom: 0.2rem;
  background-color: #e50914;
  color: white;
  border: 2px solid transparent;
  transition: all 0.5s;
  margin-right: 1rem;
}
.nav__button:hover {
  border-color: white;
}
.nav__button--active {
  border: 2px solid #e50914;
  color: #e50914;
  background-color: black;
}
.nav__button--active:hover {
  border-color: initial;
  cursor: default;
}
.nav__img {
  width: 48px;
  transform: translateX(-37px) translateY(-2px);
}

.pages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  position: relative;
  width: auto;
}
.pages__button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin-bottom: 0.2rem;
  background-color: #e50914;
  color: white;
  border: 2px solid transparent;
  transition: all 0.5s;
  margin-right: 1rem;
}
.pages__button:hover {
  border-color: white;
}
.pages__button--disabled {
  border: 2px solid #e50914;
  color: #e50914;
  background-color: black;
}
.pages__button--disabled:hover {
  cursor: initial;
  border-color: initial;
}

body {
  display: flex;
}

.movieSection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5rem;
}/*# sourceMappingURL=App.css.map */